.so-widget-sow-social-media-buttons-wire-3d9e0156f3ea .social-media-button-container {
  zoom: 1;
  text-align: center;
}
.so-widget-sow-social-media-buttons-wire-3d9e0156f3ea .social-media-button-container:before {
  content: '';
  display: block;
}
.so-widget-sow-social-media-buttons-wire-3d9e0156f3ea .social-media-button-container:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-social-media-buttons-wire-3d9e0156f3ea .sow-social-media-button-twitter {
  color: #a7200c !important;
  background: transparent;
  border: 2px solid #a7200c;
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.so-widget-sow-social-media-buttons-wire-3d9e0156f3ea .sow-social-media-button-twitter:visited,
.so-widget-sow-social-media-buttons-wire-3d9e0156f3ea .sow-social-media-button-twitter:active,
.so-widget-sow-social-media-buttons-wire-3d9e0156f3ea .sow-social-media-button-twitter:hover {
  color: #a7200c !important;
}
.so-widget-sow-social-media-buttons-wire-3d9e0156f3ea .sow-social-media-button-twitter.ow-button-hover:hover {
  background: #a7200c;
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-wire-3d9e0156f3ea .sow-social-media-button-envelope {
  color: #a7200c !important;
  background: transparent;
  border: 2px solid #a7200c;
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.so-widget-sow-social-media-buttons-wire-3d9e0156f3ea .sow-social-media-button-envelope:visited,
.so-widget-sow-social-media-buttons-wire-3d9e0156f3ea .sow-social-media-button-envelope:active,
.so-widget-sow-social-media-buttons-wire-3d9e0156f3ea .sow-social-media-button-envelope:hover {
  color: #a7200c !important;
}
.so-widget-sow-social-media-buttons-wire-3d9e0156f3ea .sow-social-media-button-envelope.ow-button-hover:hover {
  background: #a7200c;
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-wire-3d9e0156f3ea .sow-social-media-button {
  font-size: 2em;
  padding: 1.8em 1.8em;
  margin: 0.4em 0.2em 0.4em 0.2em;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
}
.so-widget-sow-social-media-buttons-wire-3d9e0156f3ea .sow-social-media-button .sow-icon-fontawesome {
  width: 1em;
  height: 1em;
  display: inline-block;
}