.so-widget-sow-features-default-7171654e01fb .sow-features-list .sow-features-feature .textwidget > h5 {
  font-size: px;
  
}
.so-widget-sow-features-default-7171654e01fb .sow-features-list .sow-features-feature .textwidget > p {
  font-size: px;
  
}
.so-widget-sow-features-default-7171654e01fb .sow-features-list .sow-features-feature .textwidget > p.sow-more-text {
  font-size: px;
  
}